h1{
    color: green;
}

p{
    color: blue;
}

.desc{
    color: red;
    font-size: 30px;
}

.photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

div{
    border: 5px solid red;
}   